<!DOCTYPE html>
<html>

<head>
    <title>IFSUL CS-GO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="public/error.css" rel="stylesheet" >
</head>

<body>
    <div class="container">
        <div class="alert alert-danger text-center" role="alert">
            <center>Ops... an error has occurred!</center>
        </div>
    </div>
    <div class="container mid">
        <center><a href="./home.html" class="btn btn-danger">Return to Apply page</a></center>
    </div>
</body>

</html>
