<!DOCTYPE html>
<html>

<head>
    <title>IFSUL CS-GO</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="public/home.css" rel="stylesheet" >
</head>

<body>
    <div class="container">
        <p>FIRST IFSUL CS-GO CHAMPIONSHIP</p>
        <form method="POST">
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" name="nickname" placeholder="Nickname" aria-describedby="nicknameUnic">
                <small id="nicknameUnic" class="form-text text-muted">The nickname must be unique.</small>
            </div>
            <div class="form-group">
            <input class="form-control form-control-lg" type="text" name="team" placeholder="Team">
            </div>
            <center><button type="submit" class="btn btn-secondary">Apply</button></center>
        </form>
    </div>
</body>

</html>
