<!DOCTYPE html>
<html>

<head>
    <title>IFSUL CS-GO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto:700" rel="stylesheet" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="public/home.css" rel="stylesheet" >
</head>

<body>
    <div class="container">
        <h1>FIRST IFSUL CS-GO CHAMPIONSHIP</h1>
        <form method="POST" id="csgoform">
            <p id="countdown">&ensp;</p>
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" name="nickname" placeholder="Nickname" aria-describedby="nicknameUnic">
                <small id="nicknameUnic" class="form-text text-muted">The nickname must be unique.</small>
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" name="team" placeholder="Team">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-secondary btn-block">Apply</button>
            </div>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/player.js"></script>
</body>

</html>
