<!DOCTYPE html>
<html>

<head>
    <title>IFSUL CS-GO</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="public/rules.css" rel="stylesheet" >
</head>

<body>
    <div class="container">
        <p>
            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseRules" aria-expanded="false" aria-controls="collapseRules">Rule 1</button>
            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseRules" aria-expanded="false" aria-controls="collapseRules">Rule 2</button>
            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseRules" aria-expanded="false" aria-controls="collapseRules">Rule 3</button>
        </p>
        <div class="collapse" id="collapseRules">
            <div class="card card-body">
                RULES HERE RULES HERE RULES HERE RULES HERE RULES HERE RULES HERE RULES HERE RULES HERE RULES HERE RULES HERE RULES HERE RULES HERE RULES HERE RULES HERE RULES HERE RULES HERE.
            </div>
        </div>
    </div>
</body>

</html>
