<!DOCTYPE html>
<html>

<head>
    <title>IFSUL CS-GO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="public/success.css" rel="stylesheet" >
</head>

<body>
    <div class="container">
        <div class="alert alert-success text-center" role="alert">
            <h4>Congratulations, you are applied!</h4>
        </div>

    
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">RULES</h5>
                <p class="card-text text-left">See the rules!</p>
                <a href="rules.html" class="btn btn-success">Go to rules!</a>
            </div>
        </div>
        <br/>
        <div class="card text-center">
            <div class="card-body ">
                <h5 class="card-title">TEAMS</h5>
                <p class="card-text text-left">See the teams!</p>
                <a href="teams.html" class="btn btn-success">Go to teams!</a>
            </div>
        </div>
    </div>
</body>

</html>
