<!DOCTYPE html>
<html>

<head>
    <title>IFSUL CS-GO</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="public/success.css" rel="stylesheet" >
</head>

<body>
    <div class="container">
        <div class="alert alert-success text-center" role="alert">
            <center>Congratulations, you are applied!</center>
        </div>
    </div>
    <div class="container right-align">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <center><h5 class="card-title">RULES</h5></center>
                <p class="card-text">See the rules!</p>
                <center><a href="#" class="btn btn-success">Go to rules!</a></center>
            </div>
        </div>
        <br/>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <center><h5 class="card-title">TEAMS</h5></center>
                <p class="card-text">See the teams!</p>
                <center><a href="#" class="btn btn-success">Go to teams!</a></center>
            </div>
        </div>
    </div>
</body>

</html>
