body {
    font-family: 'Roboto', sans-serif;
    background: url(images/cs-go-background.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    margin-top: 25vh;
}
form input{

}
.container h1 {
    color: white;
    font-size: 4rem;
    text-shadow: .1rem .1rem .1rem black;
    font-weight: bold;
    margin-bottom:10vh;
    width: 100%;
    text-align: center;
}

@media(max-width:40em){
    .container h1{
        font-size: 2rem;
        margin-bottom:5vh;
    }
}

