body {
    font-family: 'Roboto', sans-serif;
    background: url(images/rules-cs-go-background.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    margin-top: 35vh;
}

.col-md{
    text-align: center;
}

.card-text {
    color: black;
}

@media(max-width:40em){
    .container{
        margin-top:50vh;
    }
}