body {
    font-family: 'Roboto', sans-serif;
    background: url(images/success-cs-go-background.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    margin-top: 5vh;
}

.right-cs {
    width: 10%;
    margin-right: 20%;
    margin-top: 10%;
}

.card {
    width: 18rem;
    margin-left:42.8vw;
}
.card h5{
 font-weight: bold;
}

@media (max-width:40em) {
    .container {
        margin-top: 5vh;
        
    }
    .container .alert{
        margin-bottom:50vh;
    }
    .card{
        margin: 0 auto;
    }
}
