body {
    font-family: 'Roboto', sans-serif;
    background: url(images/teams-cs-go-background.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    margin-top: 60vh;
    text-align: center;
}

.list-group {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}